<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37188967630-3osg0ll18hh33tqo96ca13vg607c8v3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37188967630-3osg0ll18hh33tqo96ca13vg607c8v3p</string>
	<key>API_KEY</key>
	<string>AIzaSyArH6SleNQYs1YzqQmEeuKs0O-OmYhtqnw</string>
	<key>GCM_SENDER_ID</key>
	<string>37188967630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sansan.bellum-33</string>
	<key>PROJECT_ID</key>
	<string>bellum-1b769</string>
	<key>STORAGE_BUCKET</key>
	<string>bellum-1b769.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37188967630:ios:1cd40d5c1a8b87f59c449f</string>
</dict>
</plist>